.main-financial-statement{
	margin-bottom: 70px;
    width:100%;
	p,div,span{
		line-height: normal;
	}
    &__title{
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-bottom: 1px solid $gray;
		padding: 5px 5px;
		background-color: $headerBG;
		margin-bottom: 20px;
		@media(max-width:650px){
			display: block;
		}
		&__name{
			font-weight: bold;
			font-size: 23px;
			line-height: normal;
			margin-top: 0px;
			color: $black;
			@media(min-width:371px) and (max-width:400px){
				font-size: 21px;
			  }
			@media(max-width:370px){
			  font-size: 6vw;
			}
		}
		&__options{
            display: flex;
            justify-content: flex-end;
            align-items: center;
			@media(max-width:650px){
				margin-top: 10px;
			}
            &__currency{
                margin-right: 8px;
                font-size: 16px;
				color: $black;
				@media(max-width:500px){
					font-size: 3.5vw;
				}
            }
            &__tabs{
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                border-radius: unset;	
                border: 1px solid $black;
                list-style: none;
                padding: 0;
				margin-right: 8px;
				margin-bottom: 0px;
                li{
                    cursor: pointer;
                    font-size: 13px;
					color: $black;
					border: 1px solid transparent;
					font-size: 16px;
                    padding: 3px 12px;
					@media(max-width:500px){
						font-size: 3.5vw;
						padding: 0.5vw 2vw;
					}
                    &:hover{

                    }
                }
                .active{
                    background-color: $black;
					border: 1px solid $black;
                    color: $white;
                    font-weight: bold;
                }
            }
            &__link{
                display: flex;
                align-items: center;
                margin: 0px 5px;
				cursor: pointer;
				@media(max-width:500px){
					margin: 0px 3px;
				}
                svg{
                    width: 24px;
                    height: 24px;
					@media(max-width:500px){
						width: 5.5vw;
						height: 5.5vw;
					}
                    path{
                        fill: $black;
                    }
                }
				&:last-child{
					margin-right: 0px;
				}
            }
        }
    }
    &__tabs{
            display: flex;
            align-items: center;
            list-style: none;
			padding-left: 0;
			margin-bottom: 20px;
            li{
                cursor: pointer;
                border-bottom: 2px solid transparent;
				display: flex;
				align-items: center;
				font-size: 20px;
				line-height: normal;
				color: $black;
				margin-right: 40px;
				&:last-child{
					margin-right: 0px;
				}
				&.active{
					font-weight: bold;
					color: $black;
				}
				@media(min-width:371px) and (max-width:400px){
					font-size: 20px;
				  }
				@media(max-width:370px){
				  	font-size: 5.5vw;
				}
            }
    }
 
}



.head-brd{
	position: relative;
	background-color: $white;
	&::after{
		content: '';
		position: absolute;
		background-color: $white;
		height: 1px;
		bottom: 0;
		left: 0;
		right: 0;
	}
}
.row-border{
	td{
		background-color: $black;
		height: 1px;
	}
}
.fs-sc-arr-left{
	font-size: 20px;
	width:25px; 
	background-color: $white; 
	position: absolute; 
	right: 0; 
	top: 0; 
	bottom: 0; 
	display: flex; 
	justify-content: center; 
	align-items: center; 
	border-bottom-left-radius: 15px;
	border-top-left-radius: 15px; 
    transition: all 0.4s;
	@media(max-width: 800px){
		display: none;
	}
	svg{
		width: 18px;
		height: 18px;
		cursor: pointer;
		&:hover path{
			stroke:$black !important; 
		}
	}
}
.fs-sc-arr-left-mobile{
	display: none;
	position: absolute;
	width: 24px;
	left: -24px;
	top: 10;
	z-index: 500;
	height: 40px;
	justify-content: center;
	align-items: center;
	@media(max-width: 800px){
		display: flex;
	}
	svg{
		width: 18px;
		height: 18px;
		cursor: pointer;
		&:hover path{
			stroke:$black !important; 
		}
	}
}
.fs-sc-arr-right{
	width:25px;
	background-color: $white;
	position: absolute;
	right: -24px;
	top: 10;
	z-index: 500;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	@media(max-width: 800px){
		width: 24px;
		right: -24px;
	}
	svg{
		width: 18px;
		height: 18px;
		cursor: pointer;
		&:hover path{
			stroke:$black !important; 
		}
	}
}
.active-scroll{
	color: $black;
}

#financialStatementMain > div:not(:first-child) {
    display: none;
}
.financial-statement .fClose {
	background-position: -216px -31px!important;
}
.financial-statement .fOpen {
	background-position: -234px -31px!important;
}
.financial-statement .fClose,.financial-statement .fOpen {
	background-repeat: no-repeat;
	background-position: 0 0;
	background-color: transparent;
	cursor: pointer;
	display: inline-block;
	float: left;
	font-weight: normal;
	height: 8px;
	line-height: 14px;
	margin-right: 8px;
	text-align: center;
	width: 8px;
	margin-top: 5px;
}
.financial-statement .level2 {
	background: #fff;
}
.ico,.user-container .user .img,.company-share-holder-dtls .pdfDownload i,.file-attachment a i,.financial-statement .fClose,.financial-statement .fOpen,.stButton .twitter,.stButton .facebook,.stButton .googleplus,.stButton .linkedin,.subscription-table .scs-msg .holder:before,.factsnstatistics-trigger,.factsnstatistics-subhead.active .factsnstatistics-trigger,.question-icon,.support-status:before,.edit-profile-outer .edit-pro-row .status.tick:after,.edit-profile-outer .edit-pro-row .status.wrong:after,.lightbox.upgrade-package .modal-dialog .ih.preferred-time:before,.google-search-outer>h2:after,.footer .follow-outer .holder a i,.seo-popup-container li:before,.abt-twtr:before,table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after,.key-dates-progres .ProgresBlock.active .StatusCircle:before,.DownLoadWrapper:after,.follow-outer .row .s-holder i,.MacroEcoCharts .title .trigger:after,.subscription-package-article .head h3:before,.adv-comp-analysis .block .holder>ul .root .count:after,.RSS-list-page span.rss-icon-sml {
	background-image: url(../../images/img-sprite.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}
.financial-statement .level2 .fClose,.financial-statement .level2 .fOpen {
	line-height: 18px;
	margin-left: 15px;
	margin-top: 13px;
}
.red:not(.button) {
	color: $red!important;
}

.icon,.PetroCaption li:before,.ck-list li:before,.most-viewed .cmnt-count:after,.mn-comment-count:after {
	background: url(images/icons-en.png) no-repeat 0 0;
	display: inline-block;
}

.ico {
	display: inline-block;
}

.clear {
	clear: both;
}

.pull-left {
	float: right;
}

.pull-right {
	float: left;
}

.icon.chart {
	background-position: -24px -20px;
	height: 28px;
	width: 30px;
	float: left;
}

.relative-pos {
	position: relative;
}

input {
	margin: 0;
	padding: 0;
}

.m-bottom {
	margin-bottom: 15px!important;
}

.financial-statement .table .year th {
	background: $white;
	white-space: nowrap;
	color: $black;
}

.financial-statement .table td>div {
	padding: 5px 16px;
}

.financial-statement .table .year th {
	padding: 8px 6px;
	vertical-align: middle;
	border: 0;
}

.financial-statement.company-fsa .table .year th {
	padding: 0px 6px;
	white-space: nowrap;
}

.currency {
	float: right;
	line-height: 28px;
}

.currency span {
	height: 28px;
	float: right;
	line-height: 28px;
	background:$white;
	border: 1px solid #ffdebd;
	border-radius: 3px;
	display: block;
}

.currency label {
	float: left;
	padding: 0 10px 0 0;
	font-size: 12px;
}

.currency a {
	float: left;
	font-weight: bold;
	display: inline-block;
	padding: 0 12px;
	cursor: pointer;
	color: #ee7b0b;
	border-radius: 3px 0 0 3px;
	-moz-border-radius: 3px 0 0 3px;
	-webkit-border-radius: 3px 0 0 3px;
	-o-border-radius: 3px 0 0 3px;
}

.currency a+a {
	border: 0;
	border-radius: 0 3px 3px 0;
	-moz-border-radius: 0 3px 3px 0;
	-webkit-border-radius: 0 3px 3px 0;
	-o-border-radius: 0 3px 3px 0;
}

.currency a:hover {
	color: $white;
	background: #fff5ec;
}

.currency .active,.currency .active:hover {
	color: $white;
	background: #ee7b0b;
}
.financial-statement .table .head{
}
.financial-statement .table .head td {
	font-weight: bold;
	padding: 5px 0px 5px 32px;
    background-color: $white;
}
.chart-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: unset !important;
	svg{
		cursor: pointer;
		width: 18px;
		height: 18px;
		@media(max-width:400px){
			width: 4.5vw;
			height: 4.5vw;
		}
		path{
			fill: $black;
		}
	}
}
.columchart{
	position: sticky;
	left: 220px;
	background-color: $white;
	@media(max-width:767px){
		position: unset;
		left: unset;
	}
}
.financial-statement .table .seperator td {
	border-bottom-color: $white;
	padding: 0;
}

.colum.chart .icon {
	background-position: -44px -400px;
	height: 12px;
	width: 20px;
	transition: all .5s ease 0;
	-moz-transition: all .5s ease 0;
	-webkit-transition: all .5s ease 0;
	-o-transition: all .5s ease 0;
	-ms-transition: all .5s ease 0;
}

.colum.chart a {
	padding: 4px 10px 3px;
	display: inline-block;
	border-radius: 3px;
	transition: all .5s ease 0;
	-moz-transition: all .5s ease 0;
	-webkit-transition: all .5s ease 0;
	-o-transition: all .5s ease 0;
	-ms-transition: all .5s ease 0;
}

.financial-statement {
	float: left;
	width: 100%;
}

.financial-statement .level2 {
	background:$white;
}

.financial-statement .level1 {
	background-color: $white;
}

.financial-statement .level1 td {
	color: $black;
	font-weight: bold;
	line-height: 19px;
}


.financial-statement .trChildOpen {
	background: $white;
}

.financial-statement .trChildOpen td>div {
	padding-left: 42px;
}

.financial-statement .trChildOpen td {
	background: $white;
}

.financial-statement .group1,.financial-statement .group1:hover {
	background: $white;
	border-bottom: 1px solid $black;
}

.financial-statement .group1 th {
	border-bottom: 1px solid $black;
}

.dummy{
    background-color: $white !important;
    position: relative;
    // &::after{
    //     content: '';
    //     position: absolute;
    //     height: 100%;
    //     left: 0;
    //     background-color: $white;
    //     width: 20px;
    // }
}
.financial-statement .dummy,.financial-statement .dummy:hover {
	background: none;
}

.financial-statement .dummy th {
	padding: 0;
	height: 12px;
}

.financial-statement .group1 th+th {
	text-align: center;
}

.financial-statement .level1:hover {
	background: $white;
}

.financial-statement .level1:hover td {
	border-left-color: #3e71b2;
}

.financial-statement .level1 td,.financial-statement .fTrClose td {
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
}

.financial-statement .level2 td {
	border-left: 0;
	border-right: 0;
    padding: 5px 0px;
	min-width: 120px;
	@media(max-width:400px){
		font-size: 3.5vw;
	}
}

.financial-statement .level2 td+td {
	text-align: center;
}

.financial-statement .level2 td+td+td {

}

.table {
	text-align: left;
}

th {
	font-weight: normal;
}

.aplusholdBM {

}

.h2hold {
	padding-bottom: 5px;
	clear: both;
	overflow: hidden;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.inlineDialog {
	display: none;
	padding: 0!important;
	top: -23px;
	z-index: 100;
}


.center {
	text-align: center!important;
    padding: 5px 0px;
    min-width: 120px;
}

.pdf-language-outer {
	display: inline-block;
}

.pdf-language {
	margin: 3px 0 0 5px;
	float: left;
}

.pdf-language a {
	width: 20px;
	height: 14px;
	line-height: 12px;
	border-radius: 3px;
	text-align: center;
	background: #fff;
	color: #ee7b0b;
	display: inline-block;
	font-size: 10px;
	float: left;
	border: 1px solid #ffdebd;
}

.pdf-language a:hover {
	border: 1px solid #ee7b0b;
	background: #ee7b0b;
	color: #fff;
}

.pdf-language a+a {
	margin-left: 5px;
}

.green {
	color: $green;
}

.red {
	color: $red;
}

input,button {
	outline: none;
}

.ps {
	overflow: hidden!important;
	overflow-anchor: none;
	-ms-overflow-style: none;
	touch-action: auto;
	-ms-touch-action: auto;
}

.ps__rail-x {
	transition: background-color .2s linear,opacity .2s linear;
	-webkit-transition: background-color .2s linear,opacity .2s linear;
	height: 5px;
	margin-top: 5px;
	bottom: 0;
	position: absolute;
}

.ps__thumb-x {
	background-color: #aaa;
	border-radius: 6px;
	transition: background-color .2s linear,height .2s ease-in-out;
	-webkit-transition: background-color .2s linear,height .2s ease-in-out;
	height: 11px;
	bottom: -3px;
	position: absolute;
}

.ps__rail-x>.ps__thumb-x,.ps__rail-x>.ps__thumb-x,.ps__rail-x.ps--clicking .ps__thumb-x {
	background: #ee7b0b url(/Content/images/scrollbar-img.jpg) no-repeat center;
	height: 11px;
}

.ps__rail-x {
	top: 0;
	bottom: auto;
	margin-left: 243px;
}

#divExcelTable {
	position: relative;
    padding: 10px 0px 0px 0pxS;
    background-color: $white;
}

#divExcelTable td.argaam-font-normal {
	position: sticky;
	left: 0;
	background: $white;
	z-index: 1;
	@media(max-width:550px){
		font-size: 3.5vw;
	}
}

.col_sticky {
	position: sticky!important;
	left: 0!important;
    background-color: $white;
	min-width: 220px;
	word-wrap: break-word;
	@media(max-width:400px){
		min-width: 55vw;
	}
}

.col_bg {
	background: $white;
}


#companyFinancialResult .group1 th:first-child,#financialstatementntable table.financialstatement .group1 th:first-child {
    background-color: $white;
	font-weight: bold;
	font-size: 15px;
	color: $black;
	@media(min-width:370px) and (max-width:399px){
		font-size: 14px;
	}
	@media(max-width:400px){
		font-size: 4vw;
	}
}

.financial-statement #divExcelTable .group1 th+th,.financial-statement #financialstatementntable .group1 th+th {
	text-align: center;
    height: 40px;
	// font-weight: bold;
	@media(max-width:400px){
		font-size: 4vw;
	}
}

.financial-statement #divExcelTable .level1 td:first-child,.financial-statement .financialstatementntable1 .level1 td:first-child {
	border-right: 0;
	border-left: unset;
	z-index: 9;
    padding: 20px 0px;
    font-size: 19px;
    font-weight: bold;
	@media(max-width:400px){
		font-size: 4.5vw;
	}
}

.financial-statement #divExcelTable .level1 td:last-child,.financial-statement .financialstatementntable1 .level1 td:last-child {
	border-left: 0;
	border-right: 0 solid #eee;
	position: relative;
}


.h2-head-dropdown {
	float: left;
	width: 100%;
	overflow: initial;
}

.scrollbar2.clear {
	z-index: 9;
}

.h2-head-dropdown {
	position: relative;
}

.widget {
    background-color: $white;
}

.scroll-container {
	display: flex;
	flex-direction: row-reverse;
	overflow-y: hidden;
    overflow-x: scroll;
    // white-space: nowrap;
	position: relative;
	width: 100%;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    &::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
    }
}

.floatThead-container {
	position: sticky!important;
	top: 0;
	transform: translateX(0) translateY(0)!important;
	background: #fff;
}

.divExcelTable table {
	min-width: 100%;
	tr{
		td,th{
			line-height: normal;
		}
	}
}

#companyFinancialResult .size-row,.financialstatement .size-row {
	display: none;
}

.ps__rail-y {
	display: none !important;
}

.fs-popup ,.fr-popup{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 102;
    display: none;
    transition: all 0.3s;
    &__overlay{
        height: 100%;
        width: 100%;
        display:flex;
        align-items: center;
        justify-content: center;
        background-color: rgba($color: #000000, $alpha: 0.5);
        &__chart{
			max-width: 550px;
			width: 95%;
            background-color: $white;
            padding: 15px;
            &__close{
                display: flex;
                justify-content: flex-end;
                align-items: center;
                margin-bottom: 20px;
                img{
                    width: 20px;
                    height: 20px;
                    object-fit: cover;
                    cursor: pointer;
					@media(max-width:370px){
                        width: 5vw;
                        height: 5vw;
                    }
                }
            }
            &__graph{
                img{
                    width: 100%;
                    display: block;
                }
            }
        }
    }
}

.fr-ttm{
	padding-left:16px; 
	font-size:11px;
	@media(max-width:400px){
		font-size: 3vw;
	}
}