    html.has-scroll-smooth {
      overflow: hidden;
    }

    html.has-scroll-dragging {
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    .has-scroll-smooth body {
      overflow: hidden;
    }

    .has-scroll-smooth [data-scroll-container] {
      min-height: 100vh;
    }

    .c-scrollbar {
      position: fixed;
      right: 24px;
      bottom: 40px;
      width: 2px;
      background-color: #6e6e6e;
      height: 20vh;
      transform-origin: center center;
      transition: transform 0.3s, opacity 0.3s;
      opacity: .1;
      z-index: 10000;
    }

    .c-scrollbar:hover {
      transform: scaleX(1.45);
    }

    .c-scrollbar:hover,
    .has-scroll-scrolling .c-scrollbar,
    .has-scroll-dragging .c-scrollbar {
      opacity: .8;
    }

    .c-scrollbar_thumb {
      position: absolute;
      top: auto;
      min-height: 30%;
      background-color: #f8f8f8;
      opacity: 1;
      width: 2px;
      cursor: -webkit-grab;
      cursor: grab;
    }

    .has-scroll-dragging .c-scrollbar_thumb {
      cursor: -webkit-grabbing;
      cursor: grabbing;
    }

     ::selection {
      background: #101010;
      /* WebKit/Blink Browsers */
      color: white;
    }

    ::-moz-selection {
      background: #101010;
      /* Gecko Browsers */
    }

    .cursor {
      mix-blend-mode: difference;
      pointer-events: none;
    }

    .cursor-wrap {
      mix-blend-mode: difference;
      pointer-events: none;
    }

    body:hover .cursor {
      opacity: 1.0;
      transition: opacity 300ms ease;
    }
                        .butter-slider,
                        .slide {
                          pointer-events: none;
                        }

                        .slider-wrapper,
                        .nav-bar-logo,
                        .nav-bar-menu,
                        .nav-menu-link-item,
                        .nav-menu-link-photo {
                          pointer-events: auto;
                        }

img {
                  -webkit-user-select: none;
                          -khtml-user-select: none;
                          -moz-user-select: none;
                          -o-user-select: none;
                          user-select: none;
                          -webkit-user-drag: none;
                          -khtml-user-drag: none;
                          -moz-user-drag: none;
                          -o-user-drag: none;
                          user-drag: none;
                        }
    
.drag-slider-container {
      overflow-x: hidden;
    }

.drag-slider-slidable {
      will-change: transform;
    }