.disclosures, .argaam-reports, .company-news{
    width: 100%;
    margin-bottom: 70px;
    border-bottom: 1px solid $gray;
    padding-bottom: 15px;
    &:last-child{
        margin-bottom: 0px;
    }
    &__header{
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid $gray;
      padding: 5px 5px;
      background-color: $headerBG;
      margin-bottom: 0px;
    &__title{
        font-weight: bold;
        font-size: 23px;
        line-height: normal;
        margin-top: 0px;
        color: $black;
        @media(min-width:371px) and (max-width:400px){
          font-size: 21px;
        }
        @media(max-width:370px){
          font-size: 6vw;
        }
    }
    &__more{
      font-weight: bold;
      cursor: pointer;
      display: flex;
      align-items: center;
      line-height: normal;
      @media(max-width:400px){
        justify-content: flex-end;
        margin-top: 5px;
      }
      &__name{
        font-size: 16px;
        @media(max-width:420px){
          display: none;
        }
        @media(max-width:370px){
          font-size: 5vw;
        }
      }
      i{
        margin-right: 5px;
        @media(max-width:370px){
          font-size: 4vw;
        }
      }
    }
    }
    &__container{
        &__row{
            &:last-child &__details{
                border-bottom: unset;
            }
            &__line{
                display: flex;
                align-items: center;
                padding-top: 15px;
                position: relative;
                font-size: 15px;
                @media(max-width:420px){
                    display: block;
                }
                @media(min-width:351px) and (max-width:400px){
                    font-size: 13px;
                  }
                @media(max-width:350px){
                    font-size: 4vw;
                  }
                &__date{
                    margin-left: 30px;
                    width: 140px;
                    word-wrap: break-word;
                    @media(min-width:421px) and (max-width:650px){
                        margin-left: 15px;
                    }
                    @media(max-width:420px){
                        margin-left: 0;
                        width: 100%; 
                        margin-bottom: 5px;  
                        line-height: normal;                    
                     }
                }
                &__data{
                    padding-left: 40px;
                    text-align: right;
                    width: calc(100% - 140px);
                    @media(max-width:420px){
                        width: 100%;   
                        padding-left: 30px;   
                        line-height: normal;                 
                     }
                }
                &__icon{
                    position: absolute;
                    left: 0;
                    cursor: pointer;
                    width: 19px;
                    @media(max-width:420px){
                        top: 50%;                  
                     }

                }
            }
            &__details{
                position: relative;
                padding-top: 15px;
                display: none;
                border-bottom: 1px solid $gray;
                &__header{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 15px;
                    &__title{
                        font-weight: bold;
                        font-size: 18px;
                        line-height: normal;
                        @media(min-width:401px) and (max-width:600px){
                            font-size: 16px;
                        }
                        @media(min-width:351px) and (max-width:400px){
                            font-size: 14px;
                          }
                        @media(max-width:350px){
                            font-size: 4vw;
                          }
                    }
                    &__close{
                        margin-right: 30px;
                        width: 19px;
                        cursor: pointer;
                        @media(max-width:420px){
                            margin-right: 20px;
                        }
                    }
                }
                &__data{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 15px;
                    &__time{
                        font-size: 15px;
                        line-height: normal;
                        @media(min-width:351px) and (max-width:400px){
                            font-size: 13px;
                          }
                        @media(max-width:350px){
                            font-size: 4vw;
                          }
                    }
                    &__links{
                        display: flex;
                        align-items: center;
                        &__link{
                            display: flex;
                            align-items: center;
                            margin: 0px 5px;
                            &:first-child{
                                margin-right: 0px;
                            }
                            &:last-child{
                                margin-left: 0px;
                            }
                            @media(max-width:420px){
                              margin: 0px 3px; 
                            }
                            svg{
                                width: 18px;
                                @media(max-width:420px){
                                    width: 15px;
                                }
                            }
                        }
                    }
                }
                &__text{
                    margin: 15px 0px;
                    font-size: 15px;
                    line-height: normal;
                    @media(min-width:351px) and (max-width:400px){
                        font-size: 13px;
                      }
                    @media(max-width:350px){
                        font-size: 4vw;
                      }
                    hr{
                        display: none !important;
                    }
                    &>p{
                        margin: 15px 0px;
                        font-size: 15px;
                        line-height: normal;
                        @media(min-width:351px) and (max-width:400px){
                            font-size: 13px;
                          }
                        @media(max-width:350px){
                            font-size: 4vw;
                          }
                        &:first-child{
                            margin-top: 0px;
                            text-align: center;
                        }
                        &:nth-child(2){
                            text-align: center;
                        }
                        &:last-child{
                            margin-bottom: 0px;
                        }
                           img{
                            display: block;
                            margin: auto;
                            width: unset !important;
                            height: unset !important;
                        }
                        a{
                            text-decoration: none;
                            color: $green;
                            &:hover{
                                text-decoration: none;
                                color: $green;
                            }
                        }
                    }
                  
                }
                table{
                    width: 100%;
                     tr{
                            border-bottom: 1px solid $black;
                            td{
                                padding: 8px 5px;
                                width: 20%;
                                p{
                                   
                                    span {
                                        @media screen and (max-width: 479px) {
					                        font-size: 12px !important; 
				                            }
                                            @media (max-width: 370px) {
			                                font-size: 3vw !important;
		                                    }
                                    }
                                }
                                &:last-child p{
                                    text-align: center ;
                                  
                                }
                                &:first-child p {
                                    text-align: center !important;
                                }
                            }
                            &:first-child{
                                border-top: 1px solid $black;
                            } 
                        }
                        &+p, &+div{
                            img{
                                display: block;
                                width: 150px !important;
                                height: auto !important;
                                margin: auto;
                                @media(max-width:700px){
                                    max-height: unset;
                                }
                                @media(max-width:370px){
                                    width: 30vw !important;
                                }
                            }
                        }
                        
                }
            }
        }
    }
  }

