.contact-ir{
    width: 100%;
    border-bottom: 1px solid $gray;
    padding-bottom: 15px;
    &__title{
        margin-bottom: 15px;
        font-weight: bold;
        font-size: 23px;
        line-height: normal;
        color: $black;
        border-bottom: 1px solid $gray;
        padding: 5px 5px;
        background-color: $headerBG;
        @media(min-width:371px) and (max-width:400px){
            font-size: 21px;
          }
        @media(max-width:370px){
            font-size: 6vw;
          }
    }
    &__location{
        display: flex;
        margin-bottom: 15px;
        align-items: center;
        @media(max-width:899px){
            display: block;
            margin-bottom: 25px;
        }
    &__address{
        display: flex;
        align-items: center;
        font-size: 15px;
        @media(min-width:351px) and (max-width:400px){
            font-size: 13px;
        }
        @media(max-width:350px){
            font-size: 4vw;
        }
        @media(max-width:899px){
            margin-bottom: 5px;
        }
        i{
            color: $black;
        }
        span{
            margin-right: 10px;
            color: $black;
            font-weight: bold;
        }
    }
    &__address-details{
        list-style-type: none;
        padding-right: 0px;
        margin-bottom: 0px;
        &__item{
            margin-right: 30px;
            color: $black;
            font-size: 15px;
            @media(max-width:899px){
                margin-right: 0px   ;
            }
            @media(min-width:351px) and (max-width:400px){
                font-size: 13px;
            }
            @media(max-width:350px){
                font-size: 4vw;
            }
        }
    }
}
    &__contact{
        list-style-type: none;
        padding-left: 0px;
        margin-bottom: 15px;
        display: flex;
        flex-wrap: wrap;
        padding-right: 0;
        @media(max-width:899px){
            display: block;
        }
        &__item{
            font-size: 15px;
            display: flex;
            align-items: center;
            @media(max-width:899px){
                margin-bottom: 10px;
            }
            @media(min-width:351px) and (max-width:400px){
                font-size: 13px;
            }
            @media(max-width:350px){
                font-size: 4vw;
            }
            i{
                color: $black;
            }
            a{
                margin-right: 10px;
                color: $white;
                text-decoration: none;
                font-size: 15px;
                margin-left: 30px;
                color: $black;    
                direction: ltr;      
                @media(max-width:899px){
                    margin-left: 0px;
                }
                @media(min-width:351px) and (max-width:400px){
                    font-size: 13px;
                }
                @media(max-width:350px){
                    font-size: 4vw;
                }
                &:hover{
                    text-decoration: none;
                    color: $gray;
                }
            }
           
        }
    }
    &__download{
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media(max-width:899px){
            display: block;
        }
        &__link{
            display: inline-block;
            text-decoration: none;
            color: $black;
            font-size: 15px;
            font-weight: bold;
            @media(max-width:899px){
                display: block;
                text-align: center;
            }
            @media(min-width:351px) and (max-width:400px){
                font-size: 13px;
            }
            @media(max-width:350px){
                font-size: 4vw;
            }
            &:hover{
                text-decoration: none;
                color: $black;
            }
        }
        &__apps{
            display: flex;
            justify-content: center;
            @media(max-width:899px){
                margin-top: 20px;
             }
            &__apple{
                margin-left: 7px;
                &__link{
                    &__img{
                        width:120px;
                        object-fit: cover;
                        @media(max-width:370px){
                            width: 35vw;
                        }
                    }
                }
 
            }
            &__andriod{
                margin-right: 7px;
                &__link{
                    &__img{
                        width:120px;
                        object-fit: cover;
                        @media(max-width:370px){
                            width: 35vw;
                        }
                    }
                }
            }
        }
    }
}